.demo{ background-color: #E4E4E6; }
.main-timeline{
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: 60%;
    margin: 0 30px 20px 0;
    float: left;
}
.main-timeline .timeline-content{
    color: #333;
    min-height: 150px;
    padding: 30px;
    border: 3px solid #952F78;
    display: block;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline-content:before,
.main-timeline .timeline-content:after{
    content: '';
    background: #fff;
    box-shadow: 0 0 10px -1px rgba(0,0,0,0.3);
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    z-index: -1;
}
.main-timeline .timeline-content:after{
    background-color: #952F78;
    height: 3px;
    width: 100px;
    box-shadow: none;
    transform: translateY(-50%);
    left: 100%;
    right: auto;
    top: 50%;
    bottom: auto;
    z-index: 1;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-icon{
    color: #fff;
    background: linear-gradient(to bottom,#fdfcf8,#b2b3b4);
    font-size: 45px;
    text-align: center;
    line-height: 108px;
    height: 105px;
    width: 105px;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
    transform: translateY(-50%) rotate(45deg);
    position: absolute;
    top: 50%;
    right: -200px;
}

.main-timeline .timeline-icon i{ transform: rotate(-45deg); }
.main-timeline .title{
    color: #952F78;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
}
.main-timeline .description{
    font-size: 14px;
    letter-spacing: 1px;
    text-align: justify;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    float: right;
    margin: 0 0 20px 30px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:after{
    left: auto;
    right: 100%;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    right: auto;
    left: -200px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content{ border-color: #CC2310; }
.main-timeline .timeline:nth-child(4n+2) .timeline-content:after{ background-color: #CC2310; }
.main-timeline .timeline:nth-child(4n+2) .timeline-icon:before{
    background: linear-gradient(to top,#920414,#CC2310);
}
.main-timeline .timeline:nth-child(4n+2) .title{ color: #CC2310; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content{ border-color: #37792F; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content:after{ background-color: #37792F; }
.main-timeline .timeline:nth-child(4n+3) .timeline-icon:before{
    background: linear-gradient(to top,#37792F,#6AA72E);
}

.main-timeline .timeline:nth-child(4n+4) .title{ color: #08abcc; }
@media screen and (max-width:767px){
    .main-timeline .timeline{
        width: 100%;
        padding: 0 170px 0 0;
    }
    .main-timeline .timeline:nth-child(even){ padding: 0 0 0 170px; }
    .main-timeline .timeline-content:after{ width: 50px; }
    .main-timeline .timeline-icon{ right: -150px; }
    .main-timeline .timeline:nth-child(even) .timeline-icon{ left: -150px; }
}
@media screen and (max-width:576px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        padding: 35px 0 0 0;
        margin: 0 0 10px;
    }
    .main-timeline .timeline-content{ padding-top: 45px; }
    .main-timeline .timeline-content:after{ display: none; }
    .main-timeline .timeline .timeline-icon{
        font-size: 25px;
        line-height: 50px;
        height: 50px;
        width: 50px;
        right: 7px;
        top: -27px;
        transform: translateY(0) rotate(45deg);
    }
    .main-timeline .timeline:nth-child(even) .timeline-icon{ left: 7px; }
    .main-timeline .timeline .timeline-icon:before{
        height: 83%;
        width: 83%;
    }
    .main-timeline .title{ font-size: 18px; }
}

